<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ../partials/stylesheet %>
</head>
<body class="letter_book_page">
    <% include ../partials/header %>
    <div class="container  comments_padding ">
    
                 
                 <% if (user.id == owner) { %>
            <div class="col-lg-12 appName">
            <div class="alert alert-warning alert-dismissible fade in" role="alert">                
                    
                <strong>You can't trade for your own book! Try to find other one to buy! </strong>

            </div>

            <p class= "search_preview more_search"> Go to books  <a href="/all_books">gallery</a> </p>
           
            </div>

           <% } else { %>
          
    <div class="col-lg-6 appName">
                    <form action="/trade" method="post">
                        <div class="modal-header">
                            
                            <h4 class="modal-title" id="myModalLabel">Write message to buy a book!</h4>
                        </div>

                        <div class="modal-body">

                            <fieldset class="form-group">
                                <label  for="inputitle">Your name</label>
                                <textarea id="inputContent" name="sender" rows="1" cols="1" class="form-control" placeholder="" required="">From: <%= user.local.name %>, email: <%= user.local.email %></textarea>
                               
                            </fieldset>
                            <fieldset class="form-group">
                                <label  for="inputContent">Text of your message and how the trader can quickly connect  with you! Write your phone or social-media, if you like. </label>
                                <textarea id="inputContent" name="letter_text" rows="8" cols="30" class="form-control" placeholder="" required="">To bookowner - <%= recipient %></textarea>
                            </fieldset>

                            <textarea class="hidden_content" name="bookId" rows="1" cols="1" class="form-control" placeholder="" required=""><%=bookId%></textarea>
                             <textarea class="hidden_content" name="recipientId" rows="1" cols="1" class="form-control" placeholder="" required=""><%= recipientId%></textarea>
                              <textarea class="hidden_content" name="newSenderId" rows="1" cols="1" class="form-control" placeholder="" required=""><%= user.id%></textarea>

                        </div>

                       
                        <div class="modal-footer">
                            
                            <button type="submit" class="btn green_button">Send</button>
                        </div>
                    </form>
           
        </div>
            <% } %>           
        </div>



        <% include ../partials/footer %>
        <% include ../partials/javascript %>
    </body>
    </html>
