letter<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ../partials/stylesheet %>
</head>
<body>
    <% include ../partials/header %>

    <div class="container  appName">
        <h1><%= title %></h1>
        <div class="datails">

            <div class="card text-xs-center appName">
                <br>
                <!-- <img class="card-img-top" src="<%= avatar %>" alt="Card image cap"> -->
                <div class="card-block">
                   
                    <p class="card-text">
                        <strong>Name</strong>: <%= user.local.name %><br>
                        <strong>Email</strong>: <%= user.local.email %>
                    </p>
                    <a href="/logout" class="btn btn-large btn-primary">Logout</a>
                     <button class="btn btn-large btn-primary"  data-toggle="modal" data-target="#editProfile">Update your personal information</button>
                </div>
            </div>
        </div>
        

    <div class="row">
            <% books.forEach(function(books){ %>
             <% if (user.id === books.user.id) { %> 
                <div class="col-lg-4">
                    <figure class="figure">
                                              
                        <figcaption class="figure-caption"> <p class= "search_preview"><%= books.author %></p></figcaption>
                        <figure class="figure">
                        <p class= "search_preview"><%= books.title %></p>
                       
                        <img src=<%= books.thumbnail %>
                        <hr>
                         <a class="btn btn-danger" href ="/delete/<%= books.id %>" aria-hidden="true">Delete this book</a>
                        
                       
                    </figure>
                </div>
             <% } %>
            <% }); %>
        </div>


        <div class="row">
        <% letter.forEach(function(letter){ %>
            <% if (user.id === letter.recipient) { %> 
                <div class="col-lg-12">
                    <figure class="figure">
                                              
                        <p class= "search_preview"><%= letter.sender %></p>
                         <p class= "search_preview"><%= letter.text %></p>
                          <p class= "search_preview"><%= letter.sender_address %></p>                     
                       
                        <hr>
                         
                        
                       
                    </figure>
                </div>
             <% } %>
            <% }); %>
        </div>



   


</div>
        <% include ../partials/footer %>
        <% include ../partials/javascript %>



<div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="/updates" method="post">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Edit your personal information</h4>
                        </div>

                        <div class="modal-body">

                                                        
                            <fieldset class="form-group">
                                <label  for="inputContent">New Users name</label>
                                <textarea id="inputContent" name="content" rows="1" cols="40" class="form-control" required=""><%= user.local.name %></textarea>
                            </fieldset>

                            <fieldset class="form-group">
                                <label  for="inputContent">New Users email</label>
                                <textarea id="inputContent" name="content" rows="1" cols="40" class="form-control" required=""><%= user.local.email %></textarea>
                            </fieldset>

                            <fieldset class="form-group">
                                <label  for="inputContent">Enter your old password</label>
                                <textarea id="inputContent" name="content" rows="1" cols="40" class="form-control" required=""></textarea>
                            </fieldset>

                            <fieldset class="form-group">
                                <label  for="inputContent">Enter new password</label>
                                <textarea id="inputContent" name="content" rows="1" cols="40" class="form-control" required=""></textarea>
                            </fieldset>
                            



                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>









 
    </body>
    </html>
