letter<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ../partials/stylesheet %>
</head>
<body class="profile_book_page">
    <% include ../partials/header %>

    <div class="container  appName">
        <h4><%= title %></h4>
        <div class="datails">

            <div class="card text-xs-center appName">
                <br>
                <% if (message) { %>
            <div class="alert alert-warning alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Ohps!</strong> <%= message %>.
            </div>
            <% } %>
                <div class="card-block">
                   
                    <p class="card-text">
                        <strong>Name</strong>: <%= user.local.name %><br>
                        <strong>Email</strong>: <%= user.local.email %>
                    </p>
                    <a href="/logout" class="btn green_button profile_green_button">Logout</a>
                     <button class="btn green_button profile_green_button"  data-toggle="modal" data-target="#editProfile">Update personal info</button>
                     <button class="btn green_button profile_green_button"  data-toggle="modal" data-target="#editPassword">Update password</button>
                </div>
            </div>
        </div>


    <div class="row">

            <% books.forEach(function(books){ %>
             <% if (user.id === books.recipient) { %> 
                <div class="col-lg-12">
                   <p class= "profile_section text-center"> You have a request for trade about book "<%= books.title %>" </p>
                    <figure class="figure col-lg6">                                              
                        <p class= "search_preview"><%= books.sender %></p>
                        <p class= "search_preview"><%= books.letter_text %></p>
                      </figure>
                        <a class="btn red_button button_margin" href ="/decline/<%= books.id %>" aria-hidden="true">Decline</a>
                        <hr>
                </div>

             <% } %>
            <% }); %>
        </div>


    <div class="row">

            <% books.forEach(function(books){ %>
             <% if (user.id === books.senderId) { %> 
                <div class="col-lg-12">
                   <p class= "profile_section text-center"> You have sent a trade proposal about the book "<%= books.title %>"" </p>
                   <a class="btn red_button button_margin" href ="/cancel/<%= books.id %>" aria-hidden="true">Cancel</a>
                 </div>
             <% } %>
            <% }); %>
        
   </div>

         <hr>

       
    <div class="row ">
        <p class= "profile_section text-center"> Your books </p>
            <% books.forEach(function(books){ %>
             <% if (user.id === books.user.id) { %> 
             
                <div class="col-lg-3 books_gallery_profile">
                <a class="btn red_button button_margin" href ="/delete/<%= books.id %>" aria-hidden="true">Delete</a>
                    <figure class="figure">                                              
                        <p class= "search_preview"><%= books.author %></p>
                        <p class= "search_preview"><%= books.title %></p>
                      </figure>  
                        <img class="books_covers" src=<%= books.thumbnail %>
                        <hr>
                </div>
             <% } %>
            <% }); %>
        </div>

</div>
        <% include ../partials/footer %>
        <% include ../partials/javascript %>



<div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                
                    <form action="/updates" method="post">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Edit your personal information</h4>
                        </div>

                        <div class="modal-body">

                                                        
                            <fieldset class="form-group">
                                <label  for="inputEmail">New Users name</label>                               
                                <textarea id="name" name="name" rows="1" cols="40" class="form-control" required=""><%= user.local.name %></textarea>
                            </fieldset>

                            <fieldset class="form-group">
                                <label  for="inputContent">New Users email</label>
                                <textarea id="email" name="email" rows="1" cols="40" class="form-control" required=""><%= user.local.email %></textarea>
                            </fieldset>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>





<div class="modal fade" id="editPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="/updatePassword" method="post">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Edit your password</h4>
                        </div>

                        <div class="modal-body">                                                        
                            
                            <fieldset class="form-group">
                                <label  for="currentpassword">Enter your old password</label>
                                <input type="password" id="inputContent" name="currentPassword" rows="1" cols="40" class="form-control" required=""></input>
                            </fieldset>

                            <fieldset class="form-group">
                                <label  for="newPassword">Enter new password</label>
                                <input type="password" id="inputContent" name="newPassword" rows="1" cols="40" class="form-control" required=""></input>
                            </fieldset>
                            

                            <fieldset class="form-group">
                                <label  for="newPassword">Enter new password</label>
                                <input type="password" id="inputContent" name="newPassword_check" rows="1" cols="40" class="form-control" required=""></input>
                            </fieldset>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


</body>
</html>
